.container {
  padding: 16px;
  background-color: var(--grey-3);
}

.input {
  width: 100%;
  height: 48px;
  border: none;
  padding-left: 56px;
  padding-right: 16px;
  box-sizing: border-box;
  border-radius: 50px;
  background-image: url("../../assets/search.svg");
  background-position: 16px;
  background-repeat: no-repeat;
  background-size: 24px;
  font: var(--body-16regular);
}

.input::placeholder {
  font: var(--body-16regular);
  color: var(--grey);
}
